.drinkTitle
	font-size: 8em
	line-height: 0.95em!important
	letter-spacing: -7px
	position: relative
	top: 200px

.button 
	background-color: #6c9098
	font-family: "prestige-elite-std"
	font-weight: 700
	text-transform: uppercase
	padding: 15px 65px
	font-size: 1.4em
	border-bottom: 2px solid #ababab

	&:hover 
		background-color: darken(#6c9098, 15%)

.starter
	font-family: "proxima-nova"
	font-size: 1.4em
	line-height: 1.3em
	margin-bottom: 10px
	color: darken(#c0bebe, 25%)

hr 
	border-color: #463f3f

.sidebar 
	.button 
		width: 100%
		border-radius: 100px
		font-family: "proxima-nova"
		font-weight: 700
		text-align: left
		i 
			float: right

.divider
	width: 100%
	height: 3px 
	background-image: url("../images/divider.png")
	margin: 30px 0 25px 0



.shareBev 
	margin-top: 15px!important
	font-size: 0.9em
	padding: 12px 24px 12px 30px
	display: none
	background-color: #3e5d98
	&:hover 
		background-color: darken(#3e5d98, 10%)
	i 
		font-size: 1.3em
		position: relative
		top: 2px
		left: -11px

.titleContain 
	.name-three 
		margin-bottom: 28px

h1 
	margin-bottom: 0
	padding-top: 30px
	line-height: 1em
	float: left

.subheader 
	line-height: 1.2em

.header
	margin-top: 80px

.titleContain
	position: relative
	z-index: 999
	display: none
	span
		font-family: "proxima-nova"
		font-size: 6em 
		font-weight: 100
		letter-spacing: -5px
		display: block
		text-align: left
		color: #463f3f
		line-height: 1.0em

h1, h2, h3, h4, .subheader
	font-weight: 100
	font-family: "prestige-elite-std"

.beer-label
	h4
		color: #000
		font-size: 3em

h1 
	font-weight: 700
	text-transform: uppercase

body 
	margin: 0
	background-color: #000
	background-size: cover
	background-repeat: repeat-x
	font-size: 12px

body, html 
	height: 100%

.content 
	background-image: url("../images/bg.jpg")
	background-size: cover
	padding: 30px 0 0 0

.generate 
	margin-top: 50px
	z-index: 99

.label-container 
	width: 300px
	height: 500px
	background-position: center
	background-repeat: no-repeat
	position: absolute
	top: 200px

.beer-label 
	position: absolute
	width: 200px
	height: 450px
	left: 60px
	top: 50px
	font-size: 48px
	text-align: center
	overflow: wrap
	word-wrap: break-word
	span 
		color: #000!important

.font1 
	font-family: "Comic Sans"

.font2 
	font-family: "Proxima Nova"

.bottle 
	display: block
	margin: 0 auto

.loading 
	position: absolute
	width: 100%
	height: 100%
	background-color: rgba(255,255,255,0.95)
	z-index: 999999
	img 
		display: block 
		margin: 0 auto 
		margin-top: 300px
	span 
		display: block 
		margin: 0 auto 
		font-size: 1.2em
		text-align: center
		color: #fff 
		margin-top: 15px
		font-weight: 500
		font-family: "proxima-nova"
		color: #4a553e
		
footer 
	z-index: 99999999
	color: #fff
	position: relative
	top: 300px
	text-align: center
	color: #6d6b6a
	font-family: "prestige-elite-std"
	li 
		font-size: 0.8em
		a 
			color: #4d666c
			border-bottom: 1px solid
			&:hover 
				color: lighten(#4d666c, 15%)

.container
	position: relative
	top: 15%
	transform: translateY(-15%)


// the bottle 
.bottleContain 
	margin-top: 30px
	position: relative 
	z-index: 99
	left: -40px
	top: -30px
.theBottle 
	width: 162px
	z-index: 99
	margin: 0 auto

.blackness
	width: 100%
	position: absolute
	height: 10%
	bottom: 0
	background-color: #000
	z-index: 0

.whiteness
	width: 100%
	position: absolute
	height: 10%
	top: 0
	background-color: red
	z-index: 0

.bottleTop 
	width: 100%
	height: 295px
	background-image: url("../images/bottleTop.png")
	background-position: center
	background-repeat: no-repeat

.table 
	position: absolute
	width: 100%
	top: 490px 
	left: 0
	background-image: url("../images/table.png")
	background-repeat: x-repeat
	background-position: center 0
	height: 283px
	z-index: 50

.decal 
	background-image: url("../images/decal.png")
	width: 146px
	background-size: cover
	height: 44px
	margin: 0 auto
	position: relative
	top: 10px
	img 	
		margin: 0 auto
		display: block
		position: relative
		top: 9px
		transform: scale(0.8)

.labelText 
	width: 152px
	min-height: 120px
	margin: 0 auto
	padding: 15px
	h2 
		margin: 0
		color: #3c1c19
	.name-one 
		font-size: 1.3em
		text-transform: uppercase
		width: 75%
		margin: 0 auto
	.name-two
		font-size: 1.8em
		text-align: center

	.name-three
		font-size: 1em
		text-transform: uppercase
		background-color: #4a553d
		color: #fff 
		margin-top: 10px
		padding: 7px
		font-weight: bold
		border-radius: 25px

.name-one.font-1
	font-family: "rosewood-std-fill"
.name-one.font-2
	font-family: "refrigerator-deluxe"
.name-one.font-3
	font-family: "alternate-gothic-no-1-d"
.name-one.font-4
	font-family: "museo-slab"
.name-one.font-5
	font-family: "aw-conqueror-carved-one"

.name-two.font-1
	font-family: "lust-script"
	margin-top: 8px
.name-two.font-2
	font-family: "kari-display-pro"
.name-two.font-3
	font-family: "concave-tuscan"
.name-two.font-4
	font-family: "aw-conqueror-carved"
.name-two.font-5
	font-family: "gunplay"
	text-transform: uppercase

.name-three.font-1
	font-family: "prestige-elite-std"
.name-three.font-2
	font-family: "kepler-std"
.name-three.font-3
	font-family: "calluna-sans"
.name-three.font-4
	font-family: "aviano-slab"
.name-three.font-5
	font-family: "adelle"

.name-one, .name-three 
	text-align: center

.bottleLabel
	min-height: 120px
	background-image: url("../images/label.png")
	background-repeat: repeat-y
	background-position: center
.bottleBottom 
	height: 119px
	background-position: center
	background-image: url("../images/bottleBottom.png")

.mobileButtons, .mobileShare 
	display: none

.success 
	position: absolute
	top: 20px
	width: 100%
	z-index: 999
	background: #3e5d98!important
	border-color: #3a5079!important
	display: none
	font-size: 1.2wem
	.close 
		color: #fff
		opacity: 1


.creds
	position: fixed
	display: none
	width: 100%
	height: 100%
	background-color: rgba(0,0,0,0.8)
	z-index: 99999999
.credsBox 
	background-color: #fff
	width: 55%
	margin: 0 auto
	
	max-width: 520px
	margin-top: 25px
	padding: 25px
	ul 
		height: 500px
		overflow: scroll

	h3, li 
		color: #6c9098
		text-align: center
		font-family: "proxima-nova"
		a 
			color: #6c9098
			text-decoration: underline
	
	li 
		margin-bottom: 10px
	hr 
		border-color: #6c9098
	ul 
		list-style: none
		margin: 0
.closeLightbox
	float: right
	font-size: 2.3em
	position: relative
	color: #6c9098
	cursor: pointer


// media
@media screen and (max-width: 1060px)
	.button 
		font-family: "proxima-nova"
		font-weight: bold
	.spinner 
		margin-top: 50px!important
	.titleContain
		.name-one, .name-two, .name-three
			display: none
	.starter
		display: none
	.divider 
		display: none
	.content
		padding: 0
		min-height: 350px
	.header 
		margin-top: 0
	.logo 
		display: block 
		margin: 0 auto!important
		-webkit-transform: scale(0.6)
		position: relative
		left: -40px
		top: -20px

	.bottleContain 
		top: -320px
		position: absolute
		width: 90%
	.button 
		z-index: 999
		width: 100%
		display: none
	.theBottle 
		z-index: 0
		-webkit-transform: scale(0.8)
		left: 0px
	.bottleContain 
		left: 20px
	.shareBev
		width: 100%!important
		display: none
		padding: 15px 65px
		font-size: 1em
		margin: 0!important
	.fbShare 
		display: none
	.mobileShare
		display: block
	.mobileButtons 
		display: block
		.button 
			display: block!important
			font-size: 1.2em
			position: absolute
			top: -30px 
			right: 20px
			width: 115px!important
			height: 55px
			padding: 20px 15px 10px 15px
			
	.mobileFB
		display: none
		font-size: 0.8em
		position: absolute
		top: 380px 
		left: 10px
		width: 95%!important
		height: 55px
		padding: 15px 15px 10px 25px
		i 
			font-size: 1.8em
			left: -11px
			top: 2px
	.table 
		top: 245px
	footer
		position: relative
		top: 250px
		text-align: center!important
		margin-bottom: 100px
		li 
			display: block
			width: 100%!important
			text-align: center
	.credsBox
		width: 90%

