/* line 1, ../scss/style.sass */
.drinkTitle {
  font-size: 8em;
  line-height: 0.95em !important;
  letter-spacing: -7px;
  position: relative;
  top: 200px;
}

/* line 8, ../scss/style.sass */
.button {
  background-color: #6c9098;
  font-family: "prestige-elite-std";
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 65px;
  font-size: 1.4em;
  border-bottom: 2px solid #ababab;
}
/* line 17, ../scss/style.sass */
.button:hover {
  background-color: #4c666c;
}

/* line 20, ../scss/style.sass */
.starter {
  font-family: "proxima-nova";
  font-size: 1.4em;
  line-height: 1.3em;
  margin-bottom: 10px;
  color: #817d7d;
}

/* line 27, ../scss/style.sass */
hr {
  border-color: #463f3f;
}

/* line 31, ../scss/style.sass */
.sidebar .button {
  width: 100%;
  border-radius: 100px;
  font-family: "proxima-nova";
  font-weight: 700;
  text-align: left;
}
/* line 37, ../scss/style.sass */
.sidebar .button i {
  float: right;
}

/* line 40, ../scss/style.sass */
.divider {
  width: 100%;
  height: 3px;
  background-image: url("../images/divider.png");
  margin: 30px 0 25px 0;
}

/* line 48, ../scss/style.sass */
.shareBev {
  margin-top: 15px !important;
  font-size: 0.9em;
  padding: 12px 24px 12px 30px;
  display: none;
  background-color: #3e5d98;
}
/* line 54, ../scss/style.sass */
.shareBev:hover {
  background-color: #2f4774;
}
/* line 56, ../scss/style.sass */
.shareBev i {
  font-size: 1.3em;
  position: relative;
  top: 2px;
  left: -11px;
}

/* line 63, ../scss/style.sass */
.titleContain .name-three {
  margin-bottom: 28px;
}

/* line 66, ../scss/style.sass */
h1 {
  margin-bottom: 0;
  padding-top: 30px;
  line-height: 1em;
  float: left;
}

/* line 72, ../scss/style.sass */
.subheader {
  line-height: 1.2em;
}

/* line 75, ../scss/style.sass */
.header {
  margin-top: 80px;
}

/* line 78, ../scss/style.sass */
.titleContain {
  position: relative;
  z-index: 999;
  display: none;
}
/* line 82, ../scss/style.sass */
.titleContain span {
  font-family: "proxima-nova";
  font-size: 6em;
  font-weight: 100;
  letter-spacing: -5px;
  display: block;
  text-align: left;
  color: #463f3f;
  line-height: 1em;
}

/* line 92, ../scss/style.sass */
h1, h2, h3, h4, .subheader {
  font-weight: 100;
  font-family: "prestige-elite-std";
}

/* line 97, ../scss/style.sass */
.beer-label h4 {
  color: black;
  font-size: 3em;
}

/* line 101, ../scss/style.sass */
h1 {
  font-weight: 700;
  text-transform: uppercase;
}

/* line 105, ../scss/style.sass */
body {
  margin: 0;
  background-color: black;
  background-size: cover;
  background-repeat: repeat-x;
  font-size: 12px;
}

/* line 112, ../scss/style.sass */
body, html {
  height: 100%;
}

/* line 115, ../scss/style.sass */
.content {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  padding: 30px 0 0 0;
}

/* line 120, ../scss/style.sass */
.generate {
  margin-top: 50px;
  z-index: 99;
}

/* line 124, ../scss/style.sass */
.label-container {
  width: 300px;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 200px;
}

/* line 132, ../scss/style.sass */
.beer-label {
  position: absolute;
  width: 200px;
  height: 450px;
  left: 60px;
  top: 50px;
  font-size: 48px;
  text-align: center;
  overflow: wrap;
  word-wrap: break-word;
}
/* line 142, ../scss/style.sass */
.beer-label span {
  color: black !important;
}

/* line 145, ../scss/style.sass */
.font1 {
  font-family: "Comic Sans";
}

/* line 148, ../scss/style.sass */
.font2 {
  font-family: "Proxima Nova";
}

/* line 151, ../scss/style.sass */
.bottle {
  display: block;
  margin: 0 auto;
}

/* line 155, ../scss/style.sass */
.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 999999;
}
/* line 161, ../scss/style.sass */
.loading img {
  display: block;
  margin: 0 auto;
  margin-top: 300px;
}
/* line 165, ../scss/style.sass */
.loading span {
  display: block;
  margin: 0 auto;
  font-size: 1.2em;
  text-align: center;
  color: white;
  margin-top: 15px;
  font-weight: 500;
  font-family: "proxima-nova";
  color: #4a553e;
}

/* line 176, ../scss/style.sass */
footer {
  z-index: 99999999;
  color: white;
  position: relative;
  top: 300px;
  text-align: center;
  color: #6d6b6a;
  font-family: "prestige-elite-std";
}
/* line 184, ../scss/style.sass */
footer li {
  font-size: 0.8em;
}
/* line 186, ../scss/style.sass */
footer li a {
  color: #4d666c;
  border-bottom: 1px solid;
}
/* line 189, ../scss/style.sass */
footer li a:hover {
  color: #6e9098;
}

/* line 192, ../scss/style.sass */
.container {
  position: relative;
  top: 15%;
  transform: translateY(-15%);
}

/* line 199, ../scss/style.sass */
.bottleContain {
  margin-top: 30px;
  position: relative;
  z-index: 99;
  left: -40px;
  top: -30px;
}

/* line 205, ../scss/style.sass */
.theBottle {
  width: 162px;
  z-index: 99;
  margin: 0 auto;
}

/* line 210, ../scss/style.sass */
.blackness {
  width: 100%;
  position: absolute;
  height: 10%;
  bottom: 0;
  background-color: black;
  z-index: 0;
}

/* line 218, ../scss/style.sass */
.whiteness {
  width: 100%;
  position: absolute;
  height: 10%;
  top: 0;
  background-color: red;
  z-index: 0;
}

/* line 226, ../scss/style.sass */
.bottleTop {
  width: 100%;
  height: 295px;
  background-image: url("../images/bottleTop.png");
  background-position: center;
  background-repeat: no-repeat;
}

/* line 233, ../scss/style.sass */
.table {
  position: absolute;
  width: 100%;
  top: 490px;
  left: 0;
  background-image: url("../images/table.png");
  background-repeat: x-repeat;
  background-position: center 0;
  height: 283px;
  z-index: 50;
}

/* line 244, ../scss/style.sass */
.decal {
  background-image: url("../images/decal.png");
  width: 146px;
  background-size: cover;
  height: 44px;
  margin: 0 auto;
  position: relative;
  top: 10px;
}
/* line 252, ../scss/style.sass */
.decal img {
  margin: 0 auto;
  display: block;
  position: relative;
  top: 9px;
  transform: scale(0.8);
}

/* line 259, ../scss/style.sass */
.labelText {
  width: 152px;
  min-height: 120px;
  margin: 0 auto;
  padding: 15px;
}
/* line 264, ../scss/style.sass */
.labelText h2 {
  margin: 0;
  color: #3c1c19;
}
/* line 267, ../scss/style.sass */
.labelText .name-one {
  font-size: 1.3em;
  text-transform: uppercase;
  width: 75%;
  margin: 0 auto;
}
/* line 272, ../scss/style.sass */
.labelText .name-two {
  font-size: 1.8em;
  text-align: center;
}
/* line 276, ../scss/style.sass */
.labelText .name-three {
  font-size: 1em;
  text-transform: uppercase;
  background-color: #4a553d;
  color: white;
  margin-top: 10px;
  padding: 7px;
  font-weight: bold;
  border-radius: 25px;
}

/* line 286, ../scss/style.sass */
.name-one.font-1 {
  font-family: "rosewood-std-fill";
}

/* line 288, ../scss/style.sass */
.name-one.font-2 {
  font-family: "refrigerator-deluxe";
}

/* line 290, ../scss/style.sass */
.name-one.font-3 {
  font-family: "alternate-gothic-no-1-d";
}

/* line 292, ../scss/style.sass */
.name-one.font-4 {
  font-family: "museo-slab";
}

/* line 294, ../scss/style.sass */
.name-one.font-5 {
  font-family: "aw-conqueror-carved-one";
}

/* line 297, ../scss/style.sass */
.name-two.font-1 {
  font-family: "lust-script";
  margin-top: 8px;
}

/* line 300, ../scss/style.sass */
.name-two.font-2 {
  font-family: "kari-display-pro";
}

/* line 302, ../scss/style.sass */
.name-two.font-3 {
  font-family: "concave-tuscan";
}

/* line 304, ../scss/style.sass */
.name-two.font-4 {
  font-family: "aw-conqueror-carved";
}

/* line 306, ../scss/style.sass */
.name-two.font-5 {
  font-family: "gunplay";
  text-transform: uppercase;
}

/* line 310, ../scss/style.sass */
.name-three.font-1 {
  font-family: "prestige-elite-std";
}

/* line 312, ../scss/style.sass */
.name-three.font-2 {
  font-family: "kepler-std";
}

/* line 314, ../scss/style.sass */
.name-three.font-3 {
  font-family: "calluna-sans";
}

/* line 316, ../scss/style.sass */
.name-three.font-4 {
  font-family: "aviano-slab";
}

/* line 318, ../scss/style.sass */
.name-three.font-5 {
  font-family: "adelle";
}

/* line 321, ../scss/style.sass */
.name-one, .name-three {
  text-align: center;
}

/* line 324, ../scss/style.sass */
.bottleLabel {
  min-height: 120px;
  background-image: url("../images/label.png");
  background-repeat: repeat-y;
  background-position: center;
}

/* line 329, ../scss/style.sass */
.bottleBottom {
  height: 119px;
  background-position: center;
  background-image: url("../images/bottleBottom.png");
}

/* line 334, ../scss/style.sass */
.mobileButtons, .mobileShare {
  display: none;
}

/* line 337, ../scss/style.sass */
.success {
  position: absolute;
  top: 20px;
  width: 100%;
  z-index: 999;
  background: #3e5d98 !important;
  border-color: #3a5079 !important;
  display: none;
  font-size: 1.2wem;
}
/* line 346, ../scss/style.sass */
.success .close {
  color: white;
  opacity: 1;
}

/* line 351, ../scss/style.sass */
.creds {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99999999;
}

/* line 358, ../scss/style.sass */
.credsBox {
  background-color: white;
  width: 55%;
  margin: 0 auto;
  max-width: 520px;
  margin-top: 25px;
  padding: 25px;
}
/* line 366, ../scss/style.sass */
.credsBox ul {
  height: 500px;
  overflow: scroll;
}
/* line 370, ../scss/style.sass */
.credsBox h3, .credsBox li {
  color: #6c9098;
  text-align: center;
  font-family: "proxima-nova";
}
/* line 374, ../scss/style.sass */
.credsBox h3 a, .credsBox li a {
  color: #6c9098;
  text-decoration: underline;
}
/* line 378, ../scss/style.sass */
.credsBox li {
  margin-bottom: 10px;
}
/* line 380, ../scss/style.sass */
.credsBox hr {
  border-color: #6c9098;
}
/* line 382, ../scss/style.sass */
.credsBox ul {
  list-style: none;
  margin: 0;
}

/* line 385, ../scss/style.sass */
.closeLightbox {
  float: right;
  font-size: 2.3em;
  position: relative;
  color: #6c9098;
  cursor: pointer;
}

@media screen and (max-width: 1060px) {
  /* line 395, ../scss/style.sass */
  .button {
    font-family: "proxima-nova";
    font-weight: bold;
  }

  /* line 398, ../scss/style.sass */
  .spinner {
    margin-top: 50px !important;
  }

  /* line 401, ../scss/style.sass */
  .titleContain .name-one, .titleContain .name-two, .titleContain .name-three {
    display: none;
  }

  /* line 403, ../scss/style.sass */
  .starter {
    display: none;
  }

  /* line 405, ../scss/style.sass */
  .divider {
    display: none;
  }

  /* line 407, ../scss/style.sass */
  .content {
    padding: 0;
    min-height: 350px;
  }

  /* line 410, ../scss/style.sass */
  .header {
    margin-top: 0;
  }

  /* line 412, ../scss/style.sass */
  .logo {
    display: block;
    margin: 0 auto !important;
    -webkit-transform: scale(0.6);
    position: relative;
    left: -40px;
    top: -20px;
  }

  /* line 420, ../scss/style.sass */
  .bottleContain {
    top: -320px;
    position: absolute;
    width: 90%;
  }

  /* line 424, ../scss/style.sass */
  .button {
    z-index: 999;
    width: 100%;
    display: none;
  }

  /* line 428, ../scss/style.sass */
  .theBottle {
    z-index: 0;
    -webkit-transform: scale(0.8);
    left: 0px;
  }

  /* line 432, ../scss/style.sass */
  .bottleContain {
    left: 20px;
  }

  /* line 434, ../scss/style.sass */
  .shareBev {
    width: 100% !important;
    display: none;
    padding: 15px 65px;
    font-size: 1em;
    margin: 0 !important;
  }

  /* line 440, ../scss/style.sass */
  .fbShare {
    display: none;
  }

  /* line 442, ../scss/style.sass */
  .mobileShare {
    display: block;
  }

  /* line 444, ../scss/style.sass */
  .mobileButtons {
    display: block;
  }
  /* line 446, ../scss/style.sass */
  .mobileButtons .button {
    display: block !important;
    font-size: 1.2em;
    position: absolute;
    top: -30px;
    right: 20px;
    width: 115px !important;
    height: 55px;
    padding: 20px 15px 10px 15px;
  }

  /* line 456, ../scss/style.sass */
  .mobileFB {
    display: none;
    font-size: 0.8em;
    position: absolute;
    top: 380px;
    left: 10px;
    width: 95% !important;
    height: 55px;
    padding: 15px 15px 10px 25px;
  }
  /* line 465, ../scss/style.sass */
  .mobileFB i {
    font-size: 1.8em;
    left: -11px;
    top: 2px;
  }

  /* line 469, ../scss/style.sass */
  .table {
    top: 245px;
  }

  /* line 471, ../scss/style.sass */
  footer {
    position: relative;
    top: 250px;
    text-align: center !important;
    margin-bottom: 100px;
  }
  /* line 476, ../scss/style.sass */
  footer li {
    display: block;
    width: 100% !important;
    text-align: center;
  }

  /* line 480, ../scss/style.sass */
  .credsBox {
    width: 90%;
  }
}
